In [1]:
import pandas as pd
import numpy as np

In [2]:
demand = pd.read_csv('data/행정동별 인구(노드 분할).csv', encoding='euc-kr')

In [3]:
demand['X'] = demand['long']
demand['Y'] = demand['lat']
demand['pop'] = demand['demand']

In [4]:
demand

,Unnamed: 0,number,aver_price,lat,long,demand,region,geometry,X,Y,pop
0,0,0,6.032117e+05,35.525371,129.317114,15,수암동,POINT (129.317114159498 35.5253707828559),129.317114,35.525371,15
1,1,1,7.715162e+05,35.521118,129.321041,12,수암동,POINT (129.321041336087 35.5211184724703),129.321041,35.521118,12
2,2,2,8.084966e+05,35.524419,129.317167,10,수암동,POINT (129.317167434687 35.5244186209514),129.317167,35.524419,10
3,3,3,9.147863e+05,35.521613,129.317801,13,수암동,POINT (129.31780074317 35.5216131350801),129.317801,35.521613,13
4,4,4,1.009718e+06,35.523044,129.315964,9,수암동,POINT (129.315964308414 35.523044460991),129.315964,35.523044,9
...,...,...,...,...,...,...,...,...,...,...,...
1913,1930,1366,1.255054e+06,35.545796,129.307289,10,신정1동,POINT (129.307288516857 35.5457956640354),129.307289,35.545796,10
1914,1931,1366,1.255054e+06,35.545796,129.307289,10,신정1동,POINT (129.307288516857 35.5457956640354),129.307289,35.545796,10
1915,1932,1366,1.255054e+06,35.545796,129.307289,10,신정1동,POINT (129.307288516857 35.5457956640354),129.307289,35.545796,10
1916,1933,1378,1.560868e+06,35.542452,129.306611,10,신정1동,POINT (129.306610979632 35.5424515061021),129.306611,35.542452,10
1917,1934,1378,1.560868e+06,35.542452,129.306611,10,신정1동,POINT (129.306610979632 35.5424515061021),129.306611,35.542452,10

### 대현동

In [5]:
dh_dem = demand[demand.region == '대현동']
dh_sup = pd.read_csv('data/대현동_sup.csv')

In [6]:
dh_dem.index = [i for i in range(1,len(dh_dem)+1)]
dh_sup.index = [i for i in range(len(dh_dem)+1,len(dh_dem)+len(dh_sup)+1)]

In [7]:
dh_dem.head()

,Unnamed: 0,number,aver_price,lat,long,demand,region,geometry,X,Y,pop
1,6,6,1.026167e+06,35.526426,129.320597,7,대현동,POINT (129.320596653582 35.5264261853205),129.320597,35.526426,7
2,51,51,5.806797e+05,35.524359,129.321095,8,대현동,POINT (129.32109538695 35.5243588639258),129.321095,35.524359,8
3,52,52,6.677355e+05,35.525860,129.333164,19,대현동,POINT (129.333163958565 35.5258596511561),129.333164,35.525860,19
4,53,53,6.696591e+05,35.529576,129.329033,8,대현동,POINT (129.32903311828 35.529576410909),129.329033,35.529576,8
5,54,54,7.671795e+05,35.525224,129.323755,7,대현동,POINT (129.323755101403 35.5252243062336),129.323755,35.525224,7

In [8]:
dh_sup

,Unnamed: 0,Unnamed: 0.1,capacity,fixed_cost,Y,X,geometry
187,21,21,6,2.8,35.523591,129.329006,POINT (129.3290057 35.5235914)
188,22,22,15,61.8,35.526528,129.326807,POINT (129.3268071 35.5265278)
189,23,23,6,2.8,35.529510,129.332968,POINT (129.3329678 35.5295098)
190,24,24,16,0.0,35.529929,129.329876,POINT (129.3298765 35.52992879999999)
191,28,28,6,2.8,35.524078,129.325026,POINT (129.3250259 35.5240778)
192,45,45,8,4.0,35.527655,129.327140,POINT (129.3271399 35.52765520000001)
193,83,83,13,6.0,35.522643,129.324923,POINT (129.3249229 35.5226431)
194,96,96,6,2.8,35.530156,129.326188,POINT (129.3261876 35.530156)
195,97,97,6,2.8,35.529349,129.323884,POINT (129.3238843 35.5293494)
196,102,102,6,2.8,35.525605,129.321989,POINT (129.3219893 35.5256046)
197,120,120,15,7.1,35.532398,129.332859,POINT (129.332859 35.5323979)
198,136,136,12,5.7,35.531386,129.333207,POINT (129.3332072 35.5313864)
199,142,142,24,11.2,35.532583,129.334273,POINT (129.3342734 35.5325833)
200,152,152,1227,418.9,35.525062,129.325946,POINT (129.3259457 35.52506185)
201,153,153,29,0.0,35.526140,129.324339,POINT (129.3243389 35.52614015)
202,159,159,525,226.8,35.528933,129.325798,POINT (129.3257984 35.52893349)
203,170,170,36,0.0,35.530600,129.333300,POINT (129.3332999 35.53059993)
204,193,193,40,0.0,35.528074,129.325617,POINT (129.325617 35.52807387)
205,195,195,3,0.0,35.520418,129.330358,POINT (129.330358 35.520418)
206,200,200,12,0.0,35.529924,129.329873,POINT (129.3298728 35.5299241)

In [9]:
dh_sol = np.array([[201, 65, 70, 201],
 [201, 149, 150, 50, 201],
 [201, 20, 201],
 [201, 153, 142, 22, 201],
 [201, 116, 117, 201],
 [201, 141, 140, 201],
 [201, 72, 78, 201],
 [201, 111, 201],
 [201, 110, 26, 201],
 [201, 62, 201],
 [201, 95, 201],
 [201, 54, 201],
 [201, 21, 201],
 [201, 115, 114, 52, 201],
 [201, 118, 79, 201],
 [201, 32, 23, 201],
 [201, 17, 2, 201],
 [201, 31, 5, 201],
 [201, 122, 155, 201],
 [201, 120, 119, 201],
 [201, 18, 91, 201],
 [201, 151, 152, 201],
 [201, 105, 60, 77, 201],
 [201, 47, 84, 201],
 [201, 154, 157, 201],
 [201, 75, 201],
 [201, 113, 10, 156, 201],
 [201, 112, 148, 201],
 [201, 131, 133, 201],
 [201, 86, 201],
 [201, 74, 40, 201],
 [201, 42, 1, 81, 201],
 [201, 25, 83, 66, 201],
 [201, 109, 56, 201],
 [201, 44, 132, 201],
 [201, 59, 180, 201],
 [201, 182, 183, 12, 201],
 [201, 106, 107, 201],
 [200, 7, 176, 200],
 [200, 43, 30, 200],
 [200, 167, 130, 200],
 [200, 90, 68, 200],
 [200, 85, 19, 200],
 [200, 6, 200],
 [200, 162, 164, 200],
 [200, 185, 108, 184, 200],
 [200, 57, 179, 200],
 [200, 82, 76, 67, 200],
 [200, 134, 135, 200],
 [200, 73, 200],
 [200, 170, 172, 200],
 [200, 87, 178, 200],
 [200, 14, 121, 200],
 [200, 125, 33, 200],
 [200, 51, 9, 200],
 [200, 38, 200],
 [200, 37, 200],
 [200, 35, 200],
 [200, 161, 163, 200],
 [200, 147, 146, 200],
 [200, 166, 168, 200],
 [200, 127, 128, 200],
 [200, 93, 3, 200],
 [200, 55, 181, 100, 200],
 [200, 45, 169, 124, 200],
 [200, 16, 158, 200],
 [200, 99, 200],
 [200, 29, 143, 200],
 [200, 49, 103, 200],
 [200, 4, 101, 104, 200],
 [200, 97, 186, 200],
 [200, 96, 102, 200],
 [200, 137, 129, 200],
 [200, 94, 28, 200],
 [200, 27, 80, 200],
 [200, 13, 69, 200],
 [200, 136, 138, 200],
 [200, 98, 200],
 [200, 24, 89, 200],
 [200, 88, 34, 200],
 [200, 165, 159, 200],
 [200, 53, 200],
 [200, 92, 61, 200],
 [200, 177, 175, 200],
 [200, 39, 48, 200],
 [200, 11, 171, 200],
 [200, 63, 200],
 [200, 173, 126, 15, 200],
 [200, 123, 174, 200],
 [200, 139, 64, 200],
 [200, 58, 71, 200],
 [200, 46, 8, 200],
 [200, 160, 41, 200],
 [200, 144, 145, 36, 200]])

<ipython-input-9-a6f640807bb5>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  dh_sol = np.array([[201, 65, 70, 201],

In [10]:
dh_dic = {}
for i in dh_sol:
    if i[0] not in dh_dic.keys():
        dh_dic[i[0]] = []
    else:
        pass

for i in dh_sol:
    for j in i[1:-1]:
        dh_dic[i[0]].append(j)

In [11]:
dh_dic.keys()

dict_keys([201, 200])

In [12]:
for i in dh_dic.keys():
    print(sum(dh_dem[dh_dem.index.isin(dh_dic[i])]['pop']))

836
1226

## 신정2동

In [50]:
sj2_dem = demand[demand.region == '신정2동']
sj2_sup = pd.read_csv('data/신정2동_sup.csv')

In [51]:
sj2_dem.index = [i for i in range(1,len(sj2_dem)+1)]
sj2_sup.index = [i for i in range(len(sj2_dem)+1,len(sj2_dem)+len(sj2_sup)+1)]

In [56]:
sj2_sup

,Unnamed: 0,Unnamed: 0.1,capacity,fixed_cost,X,Y,geometry
137,26,26,30,2.8,35.539488,129.297044,POINT (129.2970439 35.53948821)
138,40,40,20,9.1,35.534734,129.298703,POINT (129.2987032 35.5347336)
139,41,41,19,8.8,35.536825,129.297742,POINT (129.2977423 35.5368251)
140,75,75,28,12.7,35.536450,129.311448,POINT (129.3114481 35.53644970000001)
141,87,87,53,24.2,35.534016,129.310509,POINT (129.3105087 35.5340156)
142,88,88,25,164.6,35.534667,129.307865,POINT (129.3078652 35.5346671)
143,106,106,36,16.4,35.531100,129.305013,POINT (129.3050133 35.5310999)
144,117,117,8,3.7,35.529294,129.299512,POINT (129.2995119 35.5292936)
145,118,118,9,4.3,35.529982,129.301866,POINT (129.301866 35.5299821)
146,138,138,41,18.6,35.539207,129.300571,POINT (129.3005706 35.5392074)
147,150,150,2405,820.7,35.533210,129.299636,POINT (129.2996361 35.53321026)
148,158,158,526,227.5,35.536612,129.310199,POINT (129.3101993 35.53661172)
149,171,171,314,107.2,35.532120,129.299978,POINT (129.2999784 35.53212011)
150,181,181,243,104.9,35.533975,129.303573,POINT (129.303573 35.53397479)
151,197,197,161,69.8,35.536620,129.308052,POINT (129.3080519 35.53661979)

In [52]:
sj2_sol = np.array([[138, 86, 31, 136, 138],
 [137, 102, 108, 137],
 [143, 70, 52, 143],
 [140, 87, 135, 140],
 [151, 18, 151],
 [151, 69, 151],
 [151, 58, 151],
 [151, 42, 151],
 [151, 76, 43, 151],
 [151, 101, 122, 151],
 [151, 53, 12, 151],
 [147, 5, 147],
 [147, 103, 109, 147],
 [147, 36, 147],
 [147, 33, 62, 147],
 [147, 112, 117, 147],
 [147, 63, 147],
 [147, 107, 60, 147],
 [147, 100, 67, 147],
 [147, 4, 78, 147],
 [147, 45, 6, 147],
 [147, 119, 132, 147],
 [147, 56, 147],
 [147, 127, 74, 147],
 [147, 93, 90, 147],
 [147, 46, 85, 147],
 [147, 71, 147],
 [147, 28, 30, 147],
 [147, 10, 8, 11, 147],
 [147, 51, 19, 44, 147],
 [147, 49, 77, 147],
 [147, 81, 59, 147],
 [147, 114, 29, 147],
 [147, 55, 61, 147],
 [147, 47, 68, 147],
 [147, 7, 147],
 [147, 115, 95, 147],
 [147, 64, 22, 128, 147],
 [147, 121, 54, 147],
 [147, 125, 110, 147],
 [147, 17, 20, 147],
 [147, 124, 96, 147],
 [147, 80, 24, 147],
 [147, 133, 123, 147],
 [147, 15, 129, 147],
 [147, 38, 147],
 [147, 89, 147],
 [147, 83, 88, 147],
 [147, 57, 35, 147],
 [147, 75, 147],
 [147, 1, 92, 41, 147],
 [147, 9, 147],
 [147, 32, 50, 147],
 [147, 82, 147],
 [147, 14, 21, 147],
 [147, 25, 91, 147],
 [147, 48, 99, 147],
 [147, 126, 40, 147],
 [147, 105, 113, 147],
 [147, 106, 134, 13, 147],
 [147, 79, 147],
 [147, 120, 118, 65, 147],
 [147, 3, 27, 147],
 [147, 37, 73, 66, 147],
 [147, 94, 2, 147],
 [147, 84, 104, 147],
 [147, 98, 97, 147],
 [147, 131, 111, 147],
 [147, 72, 23, 147],
 [147, 16, 147],
 [147, 116, 130, 147],
 [147, 34, 39, 26, 147]])

<ipython-input-52-dcb0408da8b7>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  sj2_sol = np.array([[138, 86, 31, 136, 138],

In [53]:
sj2_dic = {}
for i in sj2_sol:
    if i[0] not in sj2_dic.keys():
        sj2_dic[i[0]] = []
    else:
        pass

for i in sj2_sol:
    for j in i[1:-1]:
        sj2_dic[i[0]].append(j)

In [54]:
sj2_dic.keys()

dict_keys([138, 137, 143, 140, 151, 147])

In [55]:
for i in sj2_dic.keys():
    print(sum(sj2_dem[sj2_dem.index.isin(sj2_dic[i])]['pop']))

19
20
22
22
146
1308

In [57]:
2405-1308

1097

## 신정3동

In [59]:
sj3_dem = demand[demand.region == '신정3동']
sj3_sup = pd.read_csv('data/신정3동_sup.csv')

sj3_dem.index = [i for i in range(1,len(sj3_dem)+1)]
sj3_sup.index = [i for i in range(len(sj3_dem)+1,len(sj3_dem)+len(sj3_sup)+1)]

In [60]:
sj3_sol = np.array([[57, 17, 25, 57],
 [54, 48, 16, 54],
 [51, 10, 41, 51],
 [51, 5, 51],
 [55, 20, 2, 55],
 [50, 22, 50],
 [50, 13, 50],
 [50, 21, 35, 27, 50],
 [53, 42, 18, 53],
 [53, 39, 43, 53],
 [53, 19, 23, 53],
 [53, 33, 24, 53],
 [52, 37, 52],
 [52, 44, 45, 9, 52],
 [52, 40, 26, 52],
 [52, 4, 31, 52],
 [52, 12, 52],
 [52, 46, 1, 52],
 [52, 30, 34, 52],
 [52, 14, 15, 52],
 [52, 32, 8, 3, 52],
 [52, 29, 6, 52],
 [52, 11, 28, 52],
 [52, 36, 49, 52],
 [52, 38, 7, 52],
 [52, 47, 52]])

<ipython-input-60-75803f64aeeb>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  sj3_sol = np.array([[57, 17, 25, 57],

In [61]:
sj3_dic = {}
for i in sj3_sol:
    if i[0] not in sj3_dic.keys():
        sj3_dic[i[0]] = []
    else:
        pass

for i in sj3_sol:
    for j in i[1:-1]:
        sj3_dic[i[0]].append(j)

In [62]:
sj3_dic.keys()

dict_keys([57, 54, 51, 55, 50, 53, 52])

In [63]:
for i in sj3_dic.keys():
    print(i,':',sum(sj3_dem[sj3_dem.index.isin(sj3_dic[i])]['pop']))

57 : 21
54 : 22
51 : 36
55 : 24
50 : 56
53 : 94
52 : 294

In [64]:
sj3_sup

,Unnamed: 0,Unnamed: 0.1,capacity,fixed_cost,X,Y,geometry
50,13,13,60,54.3,35.545587,129.316276,POINT (129.316276 35.5455868)
51,39,39,40,11.2,35.547145,129.310310,POINT (129.3103099 35.5471452)
52,89,89,300,136.0,35.545047,129.316381,POINT (129.3163808 35.5450475)
53,90,90,100,63.3,35.545587,129.316276,POINT (129.316276 35.5455868)
54,95,95,30,11.8,35.547016,129.313722,POINT (129.3137217 35.54701568)
55,101,101,30,6.1,35.543043,129.312260,POINT (129.3122601 35.5430429)
56,124,124,40,13.0,35.547669,129.312577,POINT (129.312577 35.5476685)
57,144,144,30,6.7,35.545090,129.312449,POINT (129.3124489 35.5450904)
58,151,151,1551,529.4,35.540810,129.315647,POINT (129.3156467 35.54081022)
59,162,162,465,158.9,35.541143,129.315529,POINT (129.3155287 35.54114344)

In [65]:
1551-294

1257

## 신정5동

In [66]:
sj5_dem = demand[demand.region == '신정5동']
sj5_sup = pd.read_csv('data/신정5동_sup.csv')

sj5_dem.index = [i for i in range(1,len(sj5_dem)+1)]
sj5_sup.index = [i for i in range(len(sj5_dem)+1,len(sj5_dem)+len(sj5_sup)+1)]

In [67]:
sj5_sol = np.array([[39, 6, 39],
 [39, 33, 34, 39],
 [39, 27, 19, 15, 39],
 [39, 2, 39],
 [39, 25, 26, 21, 39],
 [39, 11, 13, 39],
 [39, 32, 35, 39],
 [39, 14, 3, 5, 39],
 [39, 10, 9, 31, 39],
 [39, 22, 39],
 [39, 18, 30, 39],
 [39, 4, 24, 39],
 [39, 20, 7, 39],
 [39, 23, 17, 39],
 [39, 8, 39],
 [39, 1, 28, 39],
 [39, 12, 29, 16, 39]])

<ipython-input-67-48b0267b7e0f>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  sj5_sol = np.array([[39, 6, 39],

In [68]:
sj5_dic = {}
for i in sj5_sol:
    if i[0] not in sj5_dic.keys():
        sj5_dic[i[0]] = []
    else:
        pass

for i in sj5_sol:
    for j in i[1:-1]:
        sj5_dic[i[0]].append(j)

In [69]:
sj5_dic.keys()

dict_keys([39])

In [70]:
for i in sj5_dic.keys():
    print(i,':',sum(sj5_dem[sj5_dem.index.isin(sj5_dic[i])]['pop']))

39 : 369

## 선암동

In [71]:
sa_dem = demand[demand.region == '선암동']
sa_sup = pd.read_csv('data/선암동_sup.csv')

sa_dem.index = [i for i in range(1,len(sa_dem)+1)]
sa_sup.index = [i for i in range(len(sa_dem)+1,len(sa_dem)+len(sa_sup)+1)]

In [72]:
sa_sol = np.array([[45, 30, 36, 45],
 [51, 10, 51],
 [43, 8, 39, 43],
 [43, 7, 12, 43],
 [48, 6, 5, 48],
 [48, 17, 48],
 [47, 26, 29, 47],
 [47, 25, 24, 47],
 [52, 33, 14, 52],
 [52, 15, 52],
 [46, 23, 46],
 [46, 28, 27, 46],
 [55, 4, 11, 55],
 [55, 16, 38, 20, 55],
 [55, 40, 22, 55],
 [55, 37, 35, 19, 55],
 [55, 2, 3, 55],
 [55, 34, 21, 55],
 [55, 9, 1, 55],
 [55, 13, 55],
 [55, 31, 18, 32, 55]])

<ipython-input-72-94cb3fdd7b96>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  sa_sol = np.array([[45, 30, 36, 45],

In [73]:
sa_dic = {}
for i in sa_sol:
    if i[0] not in sa_dic.keys():
        sa_dic[i[0]] = []
    else:
        pass

for i in sa_sol:
    for j in i[1:-1]:
        sa_dic[i[0]].append(j)

In [74]:
sa_dic.keys()

dict_keys([45, 51, 43, 48, 47, 52, 46, 55])

In [75]:
for i in sa_dic.keys():
    print(i,':',sum(sa_dem[sa_dem.index.isin(sa_dic[i])]['pop']))

45 : 20
51 : 20
43 : 40
48 : 43
47 : 40
52 : 32
46 : 40
55 : 200

In [76]:
sa_sup

,Unnamed: 0,Unnamed: 0.1,capacity,fixed_cost,X,Y,geometry
41,3,3,7,0.793162,35.517123,129.315923,POINT (129.3159226 35.51712298)
42,4,4,40,17.902806,35.513635,129.310215,POINT (129.3102151 35.51363543)
43,20,20,40,18.100000,35.516115,129.315641,POINT (129.3156415 35.5161147)
44,33,33,12,1.400000,35.507782,129.310442,POINT (129.3104416 35.5077819)
45,56,56,20,2.300000,35.514514,129.317714,POINT (129.3177143 35.5145139)
46,63,63,40,19.800000,35.505588,129.316678,POINT (129.3166778 35.50558779999999)
47,68,68,40,4.500000,35.513528,129.312614,POINT (129.3126145 35.51352816)
48,70,70,50,33.900000,35.513069,129.335870,POINT (129.3358696 35.5130686)
49,71,71,10,33.500000,35.512952,129.335231,POINT (129.3352306 35.51295220000001)
50,72,72,200,247.100000,35.514700,129.318784,POINT (129.3187845 35.51469998)
51,122,122,30,2.800000,35.519564,129.311915,POINT (129.3119148 35.5195643)
52,139,139,35,16.500000,35.504887,129.311219,POINT (129.3112191 35.50488660000001)
53,141,141,10,1.100000,35.520118,129.312380,POINT (129.3123804 35.52011764)
54,174,174,284,85.800000,35.514699,129.318786,POINT (129.3187859 35.51469914)
55,189,189,208,71.000000,35.513124,129.312081,POINT (129.3120807 35.51312399)
56,194,194,189,64.600000,35.514430,129.337205,POINT (129.3372048 35.51442991)

### 신정 2, 4동

In [16]:
sj2_dem = pd.read_csv('data/신정2동_demand.csv',encoding='euc-kr')
sj2_sup = pd.read_csv('data/신정2동_supply.csv',encoding='euc-kr')
sj4_dem = pd.read_csv('data/신정4동_demand.csv',encoding='euc-kr')
sj4_sup = pd.read_csv('data/신정4동_supply.csv',encoding='euc-kr')

In [17]:
sj2_sol = [[148, 72, 148],
 [148, 49, 100, 148],
 [148, 115, 116, 148],
 [148, 54, 86, 148],
 [148, 7, 148],
 [148, 76, 148],
 [148, 109, 97, 148],
 [148, 57, 148],
 [148, 69, 48, 148],
 [148, 80, 24, 148],
 [148, 79, 50, 148],
 [148, 21, 45, 148],
 [148, 30, 107, 148],
 [148, 137, 135, 8, 148],
 [148, 19, 148],
 [148, 99, 98, 148],
 [148, 125, 103, 148],
 [148, 73, 81, 148],
 [148, 14, 124, 127, 148],
 [148, 102, 121, 148],
 [148, 59, 148],
 [148, 90, 148],
 [148, 132, 131, 148],
 [148, 67, 70, 148],
 [148, 3, 28, 148],
 [148, 63, 56, 148],
 [148, 32, 113, 134, 148],
 [148, 119, 117, 148],
 [148, 122, 105, 148],
 [148, 130, 66, 129, 148],
 [148, 44, 77, 148],
 [148, 94, 1, 4, 148],
 [148, 108, 126, 148],
 [148, 43, 148],
 [148, 12, 35, 40, 148],
 [148, 42, 148],
 [148, 10, 148],
 [148, 16, 95, 148],
 [148, 114, 136, 148],
 [148, 61, 74, 36, 148],
 [148, 37, 148],
 [148, 123, 104, 148],
 [148, 38, 106, 148],
 [148, 89, 92, 148],
 [148, 25, 68, 148],
 [148, 55, 133, 148],
 [148, 27, 47, 11, 148],
 [148, 84, 71, 78, 148],
 [148, 128, 46, 148],
 [148, 15, 22, 148],
 [148, 29, 75, 148],
 [148, 83, 148],
 [148, 13, 60, 62, 148],
 [148, 17, 148],
 [148, 9, 18, 96, 148],
 [148, 111, 110, 148],
 [148, 2, 93, 148],
 [148, 39, 148],
 [148, 65, 51, 31, 148],
 [148, 58, 85, 148],
 [148, 23, 33, 148],
 [148, 5, 148],
 [148, 6, 91, 148],
 [148, 41, 88, 148],
 [148, 82, 34, 148],
 [148, 53, 101, 148],
 [148, 52, 112, 20, 148],
 [148, 64, 148],
 [148, 26, 87, 148],
 [148, 120, 118, 148]]

In [18]:
sup_148 = []

In [19]:
for i in sj2_sol:
    for j in i[1:-1]:
        sup_148.append(j)

In [21]:
pop_148 = sum(sj2_dem[sj2_dem['Unnamed: 0'].isin(sup_148)]['demand'])
pop_148

1537

In [22]:
2405-1537

868

In [24]:
sj4_sol = [[195, 164, 150, 195],
 [195, 42, 106, 195],
 [195, 51, 60, 45, 195],
 [195, 119, 168, 59, 195],
 [195, 109, 195],
 [195, 37, 195],
 [195, 130, 195],
 [195, 70, 71, 195],
 [195, 138, 139, 195],
 [195, 172, 171, 25, 195],
 [195, 143, 145, 195],
 [195, 23, 6, 61, 195],
 [195, 95, 3, 195],
 [195, 65, 121, 195],
 [195, 128, 195],
 [195, 84, 72, 195],
 [195, 123, 102, 195],
 [195, 146, 149, 195],
 [195, 69, 151, 66, 195],
 [195, 91, 43, 195],
 [195, 134, 152, 195],
 [195, 116, 157, 195],
 [195, 101, 32, 195],
 [195, 99, 2, 195],
 [195, 103, 92, 74, 195],
 [195, 54, 124, 115, 195],
 [195, 83, 125, 195],
 [195, 44, 15, 195],
 [195, 105, 104, 195],
 [195, 76, 195],
 [195, 64, 20, 195],
 [195, 11, 5, 17, 195],
 [195, 41, 156, 195],
 [195, 63, 36, 195],
 [195, 40, 98, 195],
 [195, 173, 153, 195],
 [195, 169, 93, 170, 195],
 [195, 88, 112, 195],
 [195, 35, 195],
 [195, 26, 75, 195],
 [195, 161, 160, 195],
 [195, 154, 155, 195],
 [195, 13, 82, 27, 195],
 [195, 126, 181, 195],
 [195, 50, 132, 1, 195],
 [194, 46, 110, 194],
 [194, 90, 194],
 [194, 16, 194],
 [194, 18, 33, 194],
 [194, 175, 144, 24, 194],
 [194, 7, 19, 194],
 [194, 85, 111, 114, 194],
 [194, 137, 136, 4, 194],
 [194, 165, 167, 194],
 [194, 34, 141, 194],
 [194, 14, 129, 194],
 [194, 133, 131, 194],
 [194, 180, 87, 194],
 [194, 52, 194],
 [194, 22, 9, 194],
 [194, 97, 122, 194],
 [194, 53, 56, 194],
 [194, 8, 78, 194],
 [194, 49, 89, 194],
 [194, 28, 166, 81, 194],
 [194, 55, 194],
 [194, 80, 194],
 [194, 163, 162, 194],
 [194, 62, 21, 194],
 [194, 39, 38, 194],
 [194, 118, 30, 194],
 [194, 77, 194],
 [194, 48, 68, 194],
 [194, 12, 127, 194],
 [194, 29, 140, 194],
 [194, 10, 58, 47, 194],
 [194, 79, 73, 194],
 [194, 148, 147, 194],
 [194, 31, 194],
 [194, 100, 194],
 [194, 67, 96, 194],
 [194, 86, 194],
 [194, 57, 117, 194],
 [194, 179, 178, 113, 194],
 [194, 142, 174, 194],
 [194, 120, 183, 194],
 [194, 107, 108, 194],
 [194, 159, 158, 194],
 [194, 177, 176, 194],
 [194, 182, 135, 194],
 [194, 94, 194]]

In [23]:
sup_195 = []
sup_194 = []

In [25]:
for i in sj4_sol:
    if i[0] == 195:
        for j in i[1:-1]:
            sup_195.append(j)
    else:
        for j in i[1:-1]:
            sup_194.append(j)

In [26]:
pop_195 = sum(sj4_dem[sj4_dem['Unnamed: 0'].isin(sup_195)]['pop'])
pop_194 = sum(sj4_dem[sj4_dem['Unnamed: 0'].isin(sup_194)]['pop'])

In [27]:
pop_195,pop_194

(1001, 971)

In [28]:
1102-971

131

### 신정 3, 5동

In [29]:
sj3_dem = pd.read_csv('data/신정3동_demand.csv',encoding='euc-kr')
sj3_sup = pd.read_csv('data/신정3동_supply.csv',encoding='euc-kr')
sj5_dem = pd.read_csv('data/신정5동_demand.csv',encoding='euc-kr')
sj5_sup = pd.read_csv('data/신정5동_supply.csv',encoding='euc-kr')

In [30]:
sum(sj3_dem['pop'])

547

In [31]:
1551-547

1004

In [32]:
sum(sj5_dem['pop'])

369

In [33]:
784-369

415